<!DOCTYPE html>
<html>
<body>

<p>&lt;code&gt; <span class="typewriter" data-txt='["Hello, world!", "How are you?"]'></span> &lt;code&gt;</p>
<p>code <span class="typewriter" data-txt='["This is a test.", "It works!"]'></span> code</p>
<p class="typewriter" data-txt='["Hello, world!", "How are you?"]'></p>
<p class="typewriter" data-txt='["This is a test.", "It works!"]'></p>


<script>
function typeWriter(element, txt, txtIndex = 0, charIndex = 0) {
  if (charIndex < txt[txtIndex].length) {
    element.innerHTML += txt[txtIndex].charAt(charIndex);
    setTimeout(() => { typeWriter(element, txt, txtIndex, charIndex + 1); }, speed);
  } else {
    setTimeout(() => { eraseWriter(element, txt, txtIndex, txt[txtIndex].length - 1); }, 2000);
  }
}

function eraseWriter(element, txt, txtIndex, charIndex) {
  if (charIndex >= 0) {
    element.innerHTML = txt[txtIndex].substring(0, charIndex);
    setTimeout(() => { eraseWriter(element, txt, txtIndex, charIndex - 1); }, speed);
  } else {
    if (txtIndex < txt.length - 1) {
      setTimeout(() => { typeWriter(element, txt, txtIndex + 1, 0); }, 2000);
    } else {
      setTimeout(() => { typeWriter(element, txt, 0, 0); }, 2000);
    }
  }
}

const speed = 100;  // Change this to control typing speed
const typewriterElements = document.querySelectorAll('.typewriter');

typewriterElements.forEach(element => {
  const txt = JSON.parse(element.getAttribute('data-txt'));
  typeWriter(element, txt);
});

</script>

</body>
</html>
